@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer"/>

<div class="page">
    <main>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <RadzenLabel Text="Fitness Tracker v1.0" />
                </RadzenStack>
            </RadzenHeader>
            <RadzenSidebar Responsive="true" Style="width: max-content">
                <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="home" Path="/"/>
                    <RadzenPanelMenuItem Text="Kitchen" Icon="kitchen" Path="Kitchen"/>
                    <RadzenPanelMenuItem Text="Exercise Library" Icon="fitness_center" Path="Exercise-Library"/>
                </RadzenPanelMenu>
            </RadzenSidebar>
            <article class="content px-4; overflow-scroll">
                @Body
            </article>
        </RadzenLayout>
    </main>
</div>

@code {
    bool sidebarExpanded = true;
}