@page "/counter"
@rendermode InteractiveServer
@inject FitnessTrackerContext context
@using FitnessTracker.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="GetFoods">Click me</button>

<p>@if (Foods.Count != 0) {Foods.ToList();}</p>

@code {
    private int currentCount = 0;

    List<Food> Foods = new List<Food>();
    private void IncrementCount()
    {
        currentCount++;
    }

    public async void GetFoods()
    {
        Foods = await context.Foods.ToListAsync();
    }
}
