@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FitnessTracker.Models
@using Radzen
@using Radzen.Blazor
@inject IDbContextFactory<FitnessTracker.Models.FitnessTrackerContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Dashboard</PageTitle>
<h1>Dashboard</h1>

<RadzenStack Orientation="Orientation.Vertical" Style="height: 90%" class="rz-p-sm-1" Gap="0.5rem">

    <RadzenPanel AllowCollapse="false" class="rz-my-1 rz-mx-auto" Style="width: 100%">
        <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H5" class="rz-display-flex rz-align-items-center rz-m-0">
                <RadzenIcon Icon="data_usage" class="rz-me-1"/><b>Daily Stats</b>
            </RadzenText>
        </HeaderTemplate>
        <ChildContent>
            <RadzenCard Variant="Variant.Outlined" class="rz-mt-4">
                <RadzenLabel>Today's date, current weight, calorie + protein progress percentage, workout completed, stretches completed, mood</RadzenLabel>
            </RadzenCard>
        </ChildContent>
    </RadzenPanel>

    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">

        <RadzenPanel AllowCollapse="false" class="rz-my-1 rz-mx-auto" Style="width: 100%">
            <HeaderTemplate>
                <RadzenText TextStyle="TextStyle.H5" class="rz-display-flex rz-align-items-center rz-m-0">
                    <RadzenIcon Icon="data_usage" class="rz-me-1"/><b>Workout</b>
                </RadzenText>
            </HeaderTemplate>
            <ChildContent>
                <RadzenCard Variant="Variant.Outlined" class="rz-mt-4">
                    <RadzenLabel>Workout name, length, exercises done, PRs if any, notes</RadzenLabel>
                </RadzenCard>
            </ChildContent>
        </RadzenPanel>

        <RadzenPanel AllowCollapse="false" class="rz-my-1 rz-mx-auto" Style="width: 100%">
            <HeaderTemplate>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenText TextStyle="TextStyle.H5" class="rz-display-flex rz-align-items-center rz-m-0">
                        <RadzenIcon Icon="data_usage" class="rz-me-1"/><b>Nutrition</b>
                    </RadzenText>
                    <RadzenButton Shade="Shade.Dark" ButtonStyle="ButtonStyle.Primary" Icon="add_circle" Text="Manage Nutrition" Click="@ManageNutrition"/>
                </RadzenStack>
            </HeaderTemplate>
            <ChildContent>
                <RadzenCard Variant="Variant.Outlined" class="rz-mt-4">
                    <RadzenLabel>Macro progress against goals, meals eaten separated by type (breakfast etc.) and notes</RadzenLabel>
                </RadzenCard>
            </ChildContent>
        </RadzenPanel>

    </RadzenStack>

</RadzenStack>

@code
{
    public void ManageNutrition()
    { NavigationManager.NavigateTo("Daily-Nutrition"); }
}